# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.code-workspace

# Python / venv
venv/
ENV/
env/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
uploads/
logs/
*.log

# Server data (не должно быть в репозитории)
tdp-data/
tdp-static/
/srv/tdp-data/
/srv/tdp-static/

# ENV
.env
.env.local
.env.*.local

# Node (если появится фронт)
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Mac
__MACOSX/

# Caddy / Proxy
Caddyfile
docker-compose.caddy.yml
caddy/
.env.bak.*
