cat >/srv/tdp/Caddyfile <<'CADDY'
thaidreamphuket.com, www.thaidreamphuket.com {
	encode zstd gzip

	@wp {
		path *wp-admin* *wp-login.php* *wordpress* *wp-content* *wp-includes*
	}
	respond @wp 404

	reverse_proxy tdp:8000 {
		header_up Host {host}
		header_up X-Forwarded-Proto {scheme}
	}

	log {
		output stdout
	}
}
CADDY
