# Django настройки
DEBUG=False
SECRET_KEY=change_me
ALLOWED_HOSTS=thaidreamphuket.com,www.thaidreamphuket.com
CSRF_TRUSTED_ORIGINS=https://thaidreamphuket.com,https://www.thaidreamphuket.com

# База данных
DATABASE_URL=sqlite:////app/data/db.sqlite3

# Статика и медиа
STATIC_URL=/static/
STATIC_ROOT=/app/staticfiles
MEDIA_URL=/media/
MEDIA_ROOT=/app/media

# Логирование
LOG_LEVEL=INFO
