# Django настройки
DEBUG=False
SECRET_KEY=change_me
ALLOWED_HOSTS=thaidreamphuket.com,www.thaidreamphuket.com
CSRF_TRUSTED_ORIGINS=https://thaidreamphuket.com,https://www.thaidreamphuket.com

# База данных
DATABASE_URL=sqlite:////app/data/db.sqlite3

# Статика и медиа
DJANGO_STATIC_ROOT=/srv/static_tdp
DJANGO_MEDIA_ROOT=/srv/media_tdp

# Логирование
LOG_LEVEL=INFO
